<!DOCTYPE html>
<html>
<head>
  <title>Chat Room</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <h1>Welcome, <%= username %>!</h1>
  <div id="chat-box"></div>
  <form id="chat-form">
    <input type="text" id="chat-input" placeholder="Type a message..." required>
    <button type="submit">Send</button>
  </form>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
