#root {
  max-width: 1280px;
  margin: auto;
  text-align: center;
}

main {
  display: flex;
  text-align: center;
  margin: auto;
  height: 100px;
}

.logo {
  color: #a0f4a7;
  font-size: 5rem;
  font-weight: bolder;
}

.menu {
  margin: auto auto auto 10px;
  text-align: start;
  color: #a0f4a7;
}

.menu--items {
  font-size: 2rem
}

.menu--items:hover {
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}




