:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #030303de;
  background-color: #ffffffde;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  height: 100vh;
  background: url('/assets/bg.svg');
  background-repeat: no-repeat;
  background-size: 160%;

}

